@font-face {
	font-family: "Sviber Note";
	src: url("../assets/fonts/LXGWWenKai-Regular.ttf") format("truetype");
	font-display: swap;
}

@font-face {
	font-family: "Noto Sans Math";
	src: url("../assets/fonts/NotoSansMath-Regular.ttf") format("truetype");
	font-display: swap;
}

@font-face {
	font-family: "Noto Sans CJK TC";
	src: url("../assets/fonts/NotoSansCJKtc-Regular.otf") format("opentype");
	font-display: swap;
}

@font-face {
	font-family: "Sviber Big Text";
	src: url("../assets/fonts/HanWangShinSuMedium.ttf") format("truetype");
	font-display: swap;
}

@font-face {
	font-family: "YujiBoku";
	src: url("../assets/fonts/YujiBoku-Regular.ttf") format("truetype");
	font-display: swap;
}
